.banner {
  width: 70%;
  margin: 0 auto;
  background-image: url("../image/banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.content-banner {
  padding-top: 90px;
  padding-left: 40px;
  font-style: italic;
  width: 30%;
}
.banner h4 {
  color: rgb(109, 111, 112);
  font-weight: normal;
}
.banner p {
  font-size: 24px;
  font-weight: bold;
}
.banner button {
  background-color: #383838;
  padding: 5px 10px;
  color: rgb(163, 167, 168);
}
