.container-chat{
  margin-left: 220px;
  background-color: rgb(230, 224, 224);
  padding: 20px;
}
.chat-page{
background-color: #fff;
border: 1px solid rgb(192, 188, 188) ;
display: flex;
}
.contact{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(192, 188, 188);
  width: 20%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.search{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(192, 188, 188);
  display: flex;

}
.search input{
  width: 150px;
  margin: auto;
  height: 30px;
}
.userId img{
width: 40px;
height: 40px;
}
.userId{
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  
  }
.input-chat{
    width: 100%;
    height: 70px;
    border: 1px solid rgb(192, 188, 188) ;
    text-align: center;
    align-content: center;
    }
.input-chat input{
  width: 94%;
  height: 60px;
  border: none;
}
.input-chat i {
  font-size: 20px;
  color: rgb(0, 140, 255);
  cursor: pointer;
}
.chat-content{
  height: 600px;
  margin-top: 30px;
  overflow: scroll;
}
.chatbox{
  width: 100%;
}
.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}
.message .content {
    max-width: 60%;
    overflow-wrap: break-word;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 1rem;
    color: #747272;
    
  }
  .sended {
    justify-content: flex-end;
    
  }
  .sended  .content {
    background-color: #cccdce;
    margin-right: 10px;
  }
  .recieved {
    justify-content: flex-start;
   
  }
  .recieved .content {
    background-color: #4cf5a691;
    margin-left: 10px;
  }
  .message img{
    width: 36px;
    height: 36px;
    margin-left: 10px;
  }